@{
    ViewBag.Title = "Home";
    ViewBag.WelcomeMessage = "Welcome to MyHome!";
}



<div class="row">
    <div class="col-md-4">
        <h2>Progress</h2>
        <p>
            MyHome is a project started by Josh Harnett, a C# developer whose ambitions is to create 
            a website application that will serve as a storage space for the everyday person. 
            You will be able to store all items in your house, and view expiration dates and recommendations
            specifically for you! 
        </p>
        <p><a class="btn btn-default" href="https://github.com/Lietrix/MyHome_Project">Github &raquo;</a></p>
    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>
</div>